// Danger Gradient
$light-green: #8CD47E;
$green: #7ABD7E;
$yellow: #F8D66D;
$orange: #FFB54C;
$red: #FF6961;

// Theme
$black: #000000;
$ink: #062F4F;
$posy: #813772;
$embers: #B82601;
$off-white: #FAF9F6;

// Theme Two
$dark-purple: #150050;
$purple: #190061;
$light-purple: #240090;
$lighter-purple: #3500D3;
$lightest-purple: #CF9FFF;
$gray: #070d0d;
$light-gray: #D3D3D3;