@import '../../variables.scss';

.Image {
    width: 100px;
}

.MuiSlider-thumb{
    color: green;
  }
  .MuiSlider-rail{
    color:lightgreen;
  }
  .MuiSlider-track{
    color: green;
  }