@import '../../_variables.scss';

.Header {
  position: fixed;
  top: 0;
  height: 3.5rem;
  width: 100%;
  z-index: 10;

  display: grid;
  align-items: center;
  
  background-color: black;
  color: white;

  box-shadow: 0 2px 4px rgba(57, 63, 72, 0.3);
}

.PhantomHeader { 
  margin: 0 auto;
  width: 100%;
  height: 3.5rem;
}

.Title {
  color: $theme;
  font-family: 'Consolas', sans-serif;
  font-weight: bolder;
  cursor: pointer;
  margin: 0 auto;
}